a:focus,input,textarea{outline: none;}
*{margin:0px;padding:0px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; word-break:break-all; /*æ”¯æŒIEï¼Œchromeï¼ŒFFä¸æ”¯æŒ*/

ã€€ã€€word-wrap:break-word;/*æ”¯æŒIEï¼Œchromeï¼ŒFF*/}
.fl{float:left;}
.fr{float:right;}
h1,h2,h3,h4,h5,h6{font-weight: normal; line-height: 1;}
a,span,i{ }
.clear{ clear:both; height:0px; line-height:0px; font-size:0px; overflow:hidden;}
ul,ol,li{ list-style:none; margin: 0; padding: 0;}
a{ text-decoration:none;}
a:hover{text-decoration: none;}
h1{margin-top: 0px; margin-bottom: 0px;}
p{margin-bottom: 0px; margin-top: 0px;}
img{ border:0px; vertical-align:middle;}
body{ overflow-x:hidden; padding: 10px;  font-family:Microsoft YaHei,Segoe UI,Tahoma,Arial,Verdana,sans-serif;line-height: 1; }
em, i, u {
    font-style: normal;
}


#game_panel{position: relative; margin-top: 10px; margin-left: 10px;}
.box{position: relative; border: 1px #fff solid; background: #ccc; position: absolute;}
.diglett_up{position: absolute; width: 60px; height: 60px; background: url(../images/up.jpg) no-repeat; background-size: cover; cursor: pointer;}
.diglett_down{position: absolute; width: 60px; height: 60px; background: url(../images/down.jpg) no-repeat; background-size: cover; cursor: pointer;}
.snake{position: relative; border: 1px #fff solid; background: red; position: absolute;}
.food{position: relative; border: 1px #fff solid; background: blue; position: absolute;}
